@import './highlight.css';
@import './littlefoot.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  letter-spacing: .2px;
}

article a,
main a {
  @apply underline;
}

article a:hover,
main a:hover {
  @apply underline;
}

pre,
code {
  @apply bg-gray-100 text-sm;
}

pre {
  @apply p-2;
}

*:not(pre) code {
  padding: 2px;
}

.footnotes-sep {
  display: none;
}
