---
layout: layouts/base.njk
---

{% import "macros/components.njk" as components %}

{{
  components.hero({
    title: 'Future you should live a life you deserve',
    text: 'Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat. Nam libero tempore, cum soluta nobis est eligendi.',
    cta: 'Get started',
    url: '#',
    imgSrc: 'https://source.unsplash.com/600x400/?travel'
  })
}}

{{
  components.features({
    title: 'Some fancy title goes here',
    items: [
      {
        title: 'Dalmatians dancing',
        text: 'Totam rem aperiam. Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.',
        cta: 'Click this',
        url: '#'
      },
      {
        title: 'Labradors sleeping',
        text: 'Totam rem aperiam. Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.',
        cta: 'Maybe this',
        url: '#'
      },
      {
        title: 'German Shepherds',
        text: 'Totam rem aperiam. Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.',
        cta: 'Hello button',
        url: '#'
      },
      {
        title: 'The best: whippets',
        text: 'Totam rem aperiam. Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.',
        cta: 'Best button',
        url: '#'
      }
    ]
  })
}}
