---
layout: layouts/base.njk
---

<div class="col-span-4 lg:col-span-6">
  <h1 class="text-5xl leading-none font-medium">
    Your dogs should have the space they deserve
  </h1>

  <p class="text-xl font-light py-4">
    No self-respecting pet should be satisfied with a barely-followed instagram account. In just <span class="font-medium">ten minutes</span>, you can help them shine. 
  </p>

  <a
    href="#"
    class="inline-block mt-8 text-white px-6 py-3 bg-teal-700 hover:bg-teal-600 transition-color duration-500 no-underline hover:no-underline rounded font-bold text-lg"
  >
    Get started
  </a>
</div>

<img
  src="https://source.unsplash.com/600x400/?dog"
  alt="one happy doggo"
  class="col-span-4 lg:col-span-6 rounded"
/>
