---
layout: layouts/base.njk
pagination:
  data: pages
  size: 1
  alias: p 
permalink: "{{ p.url }}/index.html"
---

{% import "macros/components.njk" as components %}

{% for section in p.sections %}
  {% if section._modelApiKey == 'hero' %}
    {{ components.hero(section) }}
  {% else %}
    {{ section.title }}
  {% endif %}
{% endfor %}
