---
layout: layouts/base.njk
pagination:
  data: data.pages
  size: 1
  alias: p 
permalink: "{{ p.url }}/index.html"
---

{% import "macros.njk" as components %}

{% for section in p.sections %}
  {% set component = components[section._modelApiKey] %}
  {% if component %}
    {{ component(section) }}
  {% endif %}
{% endfor %}
