{% macro navlink(title, url) %}
  <a
    href="{{ url| url }}"
    class="
      text-gray-500
      hover:text-black transition-colors duration-500
      {% if page.url === url %}
        font-semibold
      {% endif %}
    "
  >
    {{ title }}
  </a>
{% endmacro %}

<header>
  <h1>
    <a href="{{ '/' | url }}">{{ metadata.title }}</a>
  </h1>
  <nav>
    {% for link in navigation %}
      {{ navlink(link.title, link.url) }}
    {% endfor %}
  </nav>
</header>
