{% macro link(link, secondary) %}
  <a
    class="btn btn-lg mr-2 {% if secondary %} btn-secondary{% endif %}"
    href="{{ link.url }}"
    {% if link.newTab %}
      target="_blank"
      rel="noopener noreferrer"
    {% endif %}
  >
    {{ link.text }}
  </a>
{% endmacro %}

{% macro linkOpeningTag(link) %}
  <a
    href="{{ link.url }}"
    {% if link.newTab %}
      target="_blank"
      rel="noopener noreferrer"
    {% endif %}
  >
{% endmacro %}

{% macro hero(data) %}
  <section>
    <div class="container">
      {% if data.imageAlignment === 'left' %}
        <img class="col-span-6" src="{{ data.image.url }}" />
      {% endif %}

      <div class="col-span-6 md:mt-16">
        <h2 class="text-sm opacity-50 font-medium uppercase mb-6 tracking-widest">
          {{ data.smallHeading }}
        </h2>
        <h1 class="text-5xl mb-8 leading-none">
          {{ data.title }}
        </h1>
        <p class="text-xl font-light">{{ data.text }}</p>
        <div class="mt-10">
          {% if data.cta %}
            {{ link(data.cta) }}
          {% endif %}
          {% if data.secondaryCta %}
            {{ link(data.secondaryCta, true) }}
          {% endif %}
        </div>
      </div>

      {% if data.imageAlignment === 'right' %}
        <img class="col-span-6" src="{{ data.image.url }}" />
      {% endif %}
    </div>
  </section>
{% endmacro %}

{% macro feature_list(data) %}
  <section class="bg-gray-100">
    <div class="container py-6 md:py-12 lg:py-24">
      <div class="col-span-12 text-center">
        <h2 class="text-3xl">
          {{ data.title }}
        </h2>
        <h3 class="text-2xl font-light">
          {{ data.subtitle }}
        </h3>
      </div>
      {% for feature in data.features %}
        <div class="col-span-12 md:col-span-4 lg:col-span-{% if data.features.length % 3 == 0 %}4{% else %}6{% endif %}">
          {% if feature.link %} {{ linkOpeningTag(feature.link) }} {% endif %}
          {% if feature.illustration %}
            <img src="{{ feature.illustration.url }}" alt="" class="h-16 mb-4" />
          {% endif %}
          <h3 class="mb-4 text-xl font-semibold">
            {{ feature.title }}
          </h3>
          <p class="mb-4">{{ feature.description }}</p>
          {% if feature.link %} </a> {% endif %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endmacro %}
