<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
  (function(f, a, t, h, o, m){
      a[h]=a[h]||function(){
          (a[h].q=a[h].q||[]).push(arguments)
      };
      o=f.createElement('script'),
      m=f.getElementsByTagName('script')[0];
      o.async=1; o.src=t; o.id='fathom-script';
      m.parentNode.insertBefore(o,m)
  })(document, window, metadata.fathomBaseUrl, 'fathom');
  fathom('set', 'siteId', metadata.fathomSiteId);
  fathom('trackPageview');
</script>
<!-- / Fathom -->

<!-- Littlefoot for footnotes – optional
<script
  src="https://unpkg.com/littlefoot/dist/littlefoot.js"
  type="application/javascript"
></script>
<script type="application/javascript">
  littlefoot.littlefoot({
    buttonTemplate: `
      <button
        aria-expanded="false"
        aria-label="Footnote <% number %>"
        class="littlefoot-footnote__button"
        id="<% reference %>"
        title="See Footnote <% number %>"
      />
        <% number %>
      </button>
    `
  })
</script>
-->
